*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  
  body{
    overflow:hidden;
  }
  
  .container1{
    width:100vw;
    height:100vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
  }
  
  .pattern1{
    width:25vw;
    height:25vh;
    position: relative;
    overflow:hidden;
    background-color: #f8f3eb;
  }
  
  .circ1{
    width:10vw;
    height:15vh;
    border-radius:50%;
    background-color: #fc7e2f;
    position: absolute;
    right:-6vw;
    top:1.5vh;
  }
  
  .circ2{
    width:10vw;
    height:15vh;
    border-radius:50%;
    background-color: #12cad6;
    position: absolute;
    right:8vw;
    top:17vh; 
  }
  
  .circ3{
    width:12vw;
    height:18vh;
    border-radius:50%;
    background-color: #f3c623;
    position: absolute;
    left:-5vw;
    top:-8vh; 
  }
  
  .circ4{
    width:4vmin;
    height:4vmin;
    border-radius:50%;
    background-color: #5a3d55;
    position: absolute;
    left:3vw;
    top:15vh; 
  }
  
  .circ5{
    width:2vmin;
    height:2vmin;
    border-radius:50%;
    background-color: #e7305b;
    position: absolute;
    right:5vw;
    top:5vh;
  }
  
  .circ6{
    width:8vmin;
    height:8vmin;
    border-radius:50%;
    background-color: #f69e7b;
    position: absolute;
    right:10vw;
    top:3vh;
  }
  
  .cover1, .cover2, .cover3, .cover4{
    width:100vw;
    height:25vh;
    background-color: #f7f5dd;
    position: absolute;
  }
  
  .cover1{
    top:0;
  }
  
  .cover2{
    top:25vh;
  }
  
  .cover3{
    top:50vh;
  }
  
  .cover4{
    top:75vh;
  }
  
  .circ_1{
    width:20vmin;
    height:20vmin;
    border-radius:50%;
    background-color: #fc7e2f;
    position: relative;
  
  }
  
  .circ_2, .circ_6{
    width:20vmin;
    height:20vmin;
    border-radius:50%;
    background-color: #12cad6;
    position: absolute;
  }
  
  .circ_3, .circ_7{
    width:20vmin;
    height:20vmin;
    border-radius:50%;
    background-color: #f3c623;
    position: absolute;
  }
  
  .circ_4, .circ_8{
    width:20vmin;
    height:20vmin;
    border-radius:50%;
    background-color: #5a3d55;
    position: absolute;
  }
  
  .circ_5, .circ_9, .circ_10, .circ_11{
    width:20vmin;
    height:20vmin;
    border-radius:50%;
    background-color: #e7305b;
    position: absolute;
  }
  
  .circ_2{
    top:-25vmin;
  }
  
  .circ_3{
    left:25vmin;
  }
  
  .circ_4{
    top:25vmin;
  }
  
  .circ_5{
    right:25vmin;
  }
  
  .circ_6{
    top:-30vmin;
    left:30vmin;
    background-color: #111d5e;
  }
  
  .circ_7{
    left:50vmin;
    background-color: #bac964;
  }
  
  .circ_8{
    top:30vmin;
    left:30vmin;
    background-color: #84a9ac;
  }
  
  .circ_9{
    top:30vmin;
    left:-30vmin;
    background-color: #7d5a5a;
  }
  
  .circ_10{
    left:-50vmin;
    background-color: #ff926b;
  }
  
  .circ_11{
    top:-30vmin;
    left:-30vmin;
    background-color: #c70039;
  }
  
  
  .cover5{
    width:300rem;
    height:300rem;
    border-radius:50%;
    background-color: blue;
    position: absolute;
  
  }